.image-upload {
    float:none;
    margin-left: 10px; 
    
}


.custom-upload-icon {
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px dashed #5557ec;
    cursor: pointer;
}

.custom-icon {
    position: absolute;
    width: 100px;
    height: 100px;
}

.custom-prev {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;    
}

.custom-cancel {
    display: none;
    position: absolute;
    top: -10px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;
}

.custom-upload-icon:hover .custom-cancel {
    display: block;
}

.custom-upload-icon:hover .custom-prev {
    display: block;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
